<button><a href="/profile">Volver al perfil</a></button>
<h3>Editar Producto</h3>
<form id="updateProductForm" action="http://localhost:8080/api/products/{{product._id}}" method="post">
    <input type="hidden" name="id" value="{{product._id}}">

    Titulo: <input type="text" name="title" value="{{product.title}}" id="title">
    <br>
    Descripcion: <input type="text" name="description" value="{{product.description}}" id="description">
    <br>
    Codigo: <input type="text" name="code" id="code" value="{{product.code}}">
    <br>
    Precio: <input type="number" name="price" id="price" value="{{product.price}}">
    <br>
    Stock: <input type="number" name="stock" id="stock" value="{{product.stock}}">
    <br>
    Categoria: <input type="text" name="category" id="category" value="{{product.category}}">
    <br>

    <input type="submit" value="Editar">
    <p>Ejemplo:
        "title":"Smartphone",
        "description":"Samsung",
        "code":"port12",
        "price":3500,
        "stock":5,
        "category":"celulares",
        "thumbnails":["https://cdn-iibml.nitrocdn.com/mIsZFyqRlkiNfZRugfIBKtdyexDtafZx/assets/images/optimized/rev-99e5996/image/cache/catalog/products_2023/samsung-galaxy-a14-black-1-800x800.png"],
        "owner":"asdasd@gmail.com"
    </p>

</form>



<script>
    
</script>